
section.home-page {
    position: relative;
    margin:0;
}

section.home-page img{
    width: 100%;
    height: 100vh;
    filter: blur(2px);
    opacity: 0.3;
}

section.home-page article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.7);
    color: var(--font-text);
    width: 50%;
    border-radius: 12px;
}

section.home-page article p {
    margin: 80px;
    line-height: 1.5;
    font-size: 1.2rem;
}

section.home-page article p span {
    color: var(--primary-color);
    font-weight: bold;
}