.modal-container, .modal-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-overlay {
 background: rgba(49,49,49,0.3);
 backdrop-filter: blur(4px) 
}

.modal-content-skills {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: rgba(60, 60, 60);
    border : solid 4px white;
    padding: 14px 28px;
    border-radius: 16px;
    max-width: 500px;
    min-width: 300px;
    max-height: 400px;
    min-height: 150px;
    display: flex;
    align-items: center;  
    gap: 40px;
}

.modal-content-skills img.skill-img {
  height: 80px;
}

.modal-content-skills div {
  width: 65%;
}

.modal-content-skills div.costAP-container {
  position: absolute;
  top: 12px;
  right: 56px;
  height: 20px;
  width: 20px;
  background: rgb(4, 100, 164);
  border: solid 2px var(--primary-color);
  transform: rotate(45deg);
}

.modal-content-skills div.gradient-container {
  position: absolute;
  top: 12px;
  right: 56px;
  height: 20px;
  width: 20px;
  background: rgb(79, 1, 110);
  border: solid 2px var(--primary-color);
  transform: rotate(45deg);
}

.modal-content-skills div p.costAP {
  padding-top: 1px;
  padding-left: 8px;
  transform: rotate(-45deg);
}

.modal-content-weapon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background-color: rgba(60, 60, 60);
    border : solid 4px white;
    padding: 14px 28px;
    border-radius: 16px;
    max-width: 600px;
    min-width: 400px;
    max-height: 400px;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.modal-content-weapon img {
  max-height: 200px;
  max-width: 100px;
  grid-row: 1/5;
  margin-right: 20px;
}

.modal-content-weapon .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content-weapon .level {
  grid-column: 2/6;
}

.modal-content input {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 40px;
  width: 40px;
}

.modal-content .number {
  font-family: var(--font-number);
  font-weight: 300;
  color: white;
}

.modal-content p:nth-of-type(1) span {
  color: #a7c8ff;
}

.modal-content p:nth-of-type(2) span {
  color: #8771b2;
}

.modal-content p:nth-of-type(3) span {
  color: #b2a38e;
}

.modal-content-skills h3:after {
  display: block;
  content: '';
  height: 1px;
  background-color: var(--primary-color);
  width: 100%;
  margin-top: 2px;
  margin-bottom: 16px;
}

@keyframes rotating {
	0% {

		transform: rotateY(0deg);
	}
	100% {
		
		transform: rotateY(360deg);
	}
}

.rotating {
    position: relative;
    animation: rotating 4s linear infinite;
    transform-style: preserve-3d;
}

.rotating::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    transform: translateZ(-20px); /* profondeur */
}