.all-status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.all-status :nth-child(1) {
    grid-column: 1/4;
}

.all-status article {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(60, 60, 60, 0.5);
    border-radius: 8px;
    padding: 20px;
    gap: 1.5rem;
    width: 100%;
    height: 150px;
    transition: all .3s ease-in-out;
}

.all-status h2, .all-status p {
    text-align: center;
}

.all-status h3 {
    font-size: 1.4rem;
}

.all-status img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}